html {
overflow-x: hidden;
}

body {
  background-color: #FCFFF4;
}

.content {
  position: fixed;
  top:0.9vh;
  left:2.8vw;
  right:0;
  bottom:0;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 56px;
  color: #222;
  position: relative;
  text-align: left;
  padding-right: 20vw;
  line-height: 0.2;
}


.header ul li {
  list-style: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 100%;
  color: #222;
  top: -8vh;
}

#intro {
  font-size: 110%;
  position: relative;
  text-align: center;
  padding: 15px;
  line-height: 0.2;
  left:47vw;
  right:0;
  bottom:0;
  margin: auto;
  border: 0.4vh solid black;
}

#galleries {
  font-size: 110%;
  position: relative;
  text-align: left;
  padding: 15px;
  line-height: 0.2;
  left:48vw;
  right:0;
  bottom:0;
  margin: auto;
  border: 0.4vh solid black;
}

#asocials {
  font-size: 110%;
  position: relative;
  text-align: left;
  padding: 15px;
  line-height: 0.2;
  left:49vw;
  right:0;
  bottom:0;
  margin: auto;
  border: 0.4vh solid black;
}

@keyframes hover {
from {background: #FCFFF4; color: #222;}
to {background: #222; color: #FCFFF4; }
}
#facts{
  position: relative;
  top:-50vh;
  left: 0vw;
}
#intro:hover {
  background: #222; color: #FCFFF4;
}

#galleries:hover {
  background: #222; color: #FCFFF4;
}

#asocials:hover {
    background: #222; color: #FCFFF4;
}


  #ad_intro:link {
      text-decoration: none;
      color: #FCFFF4;
  }

  #ad_intro:visited {
      text-decoration: none;
      color: #FCFFF4;

  }

  #ad_intro:hover {
      text-decoration: underline;
      color: #FCFFF4;

  }

  #ad_intro:active {
      text-decoration: underline;
      color: #FCFFF4;

  }

.me_logo img {
width: 25vw;
height: auto;
position: absolute;
top:-2vh;
left:75vw;
right:19.5vw;
bottom: auto;
padding-left:5px;
padding-right: 5px;
padding-top: 0;
padding-bottom: 10px;
overflow: hidden;
}

.text {
  position: relative;
  top:5%;
  left:0;
  right:30vw;
  bottom:0;
  margin: auto;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #222;
  position: relative;
  text-align: right;
  margin-right: 25vw;
  margin-left: 20px;
  margin-bottom: 1px;
  line-height: 1.20;
  overflow: hidden;
}

.box_title {
  position: absolute;
  text-align: right;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #222;
  top: 35%;
  right: 4.7vw;
  padding: 10px;
}

.box_text ul li {
  list-style-type: lower-latin;
  font-size: 20px;
  color: #222;
}

#f_1 {
margin-bottom: 14px;
font-family:  'Oswald', sans-serif;
font-weight: 400;
text-align: left;
left: 74vw;
right: auto;
top:5%;
bottom:auto;
position:relative;

}

#f_2 {
  margin-bottom: 14px;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 74vw;
  right: auto;
  top:5%;
  bottom:auto;
  position:relative;
}

#f_3 {
  margin-bottom: 14px;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 74vw;
  right: auto;
  top:5%;
  bottom:auto;
  position:relative;
}

#f_4 {
  margin-bottom: 14px;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 74vw;
  right: auto;
  top:5%;
  bottom:auto;
  position:relative;}

#f_5 {
  margin-bottom: 14px;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 74vw;
  right: auto;
  top:5%;
  bottom:auto;
  position:relative;}

  #f_6 {
    margin-bottom: 14px;
    font-family:  'Oswald', sans-serif;
    font-weight: 400;
    text-align: left;
    left: 74vw;
    right: auto;
    top:5%;
    bottom:auto;
    position:relative;}




.border {
  background-color: #222;
  z-index: 100;
  position: absolute;
}

#ContainerBorderL {
   width: 7px;
   height: calc(200% - 13px);
   top: 13px;
   left: 13px;
   bottom: 13px;
}

#ContainerBorderR {
   width: 7px;
   height: calc(200% - 1.15vh);
   top: 13px;
   right: 13px;
}

#ContainerBorderT {
   width: calc(100% - 2.3vw);
   height: 7px;
   left: 13px;
   top: 13px;
}

#ContainerBorderB {
   width: calc(100% - 2.3vw);
   height: 7px;
   left: 13px;
   bottom: 13px;
   top: calc(200% - 26px);
   margin-bottom: 13px;
}

#InnerBorderR {
  width: 7px;
  height: 109vh;
  top: 13px;
  left: 76.5vw;
  position: absolute;
}

#InnerBorderR_1 {
  width: 7px;
  height: 50vh;
  top: 110vh;
  left: 40vw;
  position: absolute;

}

#InnerBorderT {
  width: calc(100vw - 24vw);
  height: 7px;
  left: 13px;
  right: 80vw;
  top: 120px;
  position: absolute;
}


#InnerBorderT_1 {
  width: 22.2vw;
  height: 7px;
  left: 76.5vw;
  right: 13px;
  top: 35.5%;
  position: absolute;
}

#InnerBorderT_2 {
  width: 22.2vw;
  height: 7px;
  left: 76.5vw;
  right: 13px;
  top: 43.5%;
  position: absolute;

}

#InnerBorderT_3 {
  width: calc(100vw - 26px);
  height: 7px;
  left: 13px;
  right: 13px;
  top: 110vh;
  position: absolute;

}

#InnerBorderT_4 {
  width: calc(100vw - 26px);
  height: 7px;
  left: 13px;
  right: 13px;
  top: 160vh;
  position: absolute;

}


#galleries_1 {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #222;
  top: 103vh;
  left: 39px;
}

#exercises {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #222;
  top:103vh;
  left: 42vw;
}

  #link_1 {
    position: relative;
    text-align: right;
    font-size: 38px;
    top:0vh;
    left: -37vw;
    font-family: sans-serif;
    font-weight: 800;
   }

  #link_2 {
    text-align: right;
    font-size: 38px;
    top:3%;
    left: -37vw;
    font-family: sans-serif;
    font-weight: 800;
    }

  #link_3 {
    text-align: right;
    font-size: 38px;
    top:5%;
    left: -37vw;
    font-family: sans-serif;
    font-weight: 800;
    }

    a.grids:link {
        text-decoration: none;
        color: #222;
    }

    a.grids:visited {
        text-decoration: none;
        color: #222;
        transition: 0.5s;
    }

    a.grids:hover {
        text-decoration: underline;
        color: #444;
        transition: 0.5s;
    }

    a.grids:active {
        text-decoration: underline;
        color: #222;
        transition: 0.5s;
    }


  #ex_1 {
    text-align: right;
    font-size: 38px;
    top:-20vh;
    left: 21vw;
    font-family: sans-serif;
    font-weight: 800;
  }

  #ex_2 {
    text-align: right;
    font-size: 38px;
    top:-20vh;
    left: 21vw;
    font-family: sans-serif;
    font-weight: 800;
  }

  #ex_3 {
    text-align: right;
    font-size: 38px;
    top:-20vh;
    left: 21vw;
    font-family: sans-serif;
    font-weight: 800;
  }

  #ex_4 {
    text-align: right;
    font-size: 38px;
    top:-20vh;
    left: 21vw;
    font-family: sans-serif;
    font-weight: 800;
  }

  a:link {
      text-decoration: none;
      color: #222;
  }

  a:visited {
      text-decoration: none;
      color: #222;
      transition: 0.5s;
  }

  a:hover {
      text-decoration: underline;
      color: #FCFFF4;
      transition: 0.3s;
  }

  a:active {
      text-decoration: underline;
      color: #222;
      transition: 0.5s;
  }




  #socials {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #222;
    top: 173vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.icone_border {
  position: absolute;
  bottom: 2%;
  width:35%;
  height: 5%;
  transform: translate(-50%, -50%);
  left: 51.2%;
  top: 185%;
  bottom: 28%
  border 2px solid gray;
}

.fa {
    padding: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 80px;
    font-weight: bolder;
    width: 5vh;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 15px;
    background: #FCFFF4;
    color: #222;
    border: 4px solid #222;
}

@keyframes hover {
from {background: #FCFFF4; color: #222; border: 4px solid #222;}
to {background: #222; color: #FCFFF4; }
}

.fa:hover {
    animation: hover 0.2s forwards;
    text-decoration: none;

}

.fa-facebook {
  right: auto;
}

.fa-instagram {
  right: auto;
}

.fa-tumblr {
  right: auto;
}

.fa-vimeo {
  right: auto;
}

.fa-behance {
  right: auto;
}
