html {
overflow-x: hidden;
}

body {
  background-color: #FCFFF4;
}

.content {
  top:0.9%;
  left:2.8%;
  right:0;
  margin-bottom: 0.9%;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 56px;
  color: #222;
  position: relative;
  text-align: left;
  padding-right: 20%;
  line-height: 0.2;
}


.header ul li {
  list-style: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 100%;
  color: #222;
  top: -79px;
}

#intro {
  font-size: 110%;
  position: relative;
  text-align: center;
  padding: 1.1%;
  line-height: 0.2;
  left:47%;
  right:0;
  bottom:0;
  margin: auto;
  border: 4px solid black;

}

#galleries {
  font-size: 110%;
  position: relative;
  text-align: left;
  padding: 1.1%;
  line-height: 0.2;
  left:48%;
  right:0;
  bottom:0;
  margin: auto;
  border: 4px solid black;
}

#asocials {
  font-size: 110%;
  position: relative;
  text-align: left;
  padding: 1.1%;
  line-height: 0.2;
  left:49%;
  right:0;
  bottom:0;
  margin: auto;
  border: 4px solid black;
}

@keyframes hover {
from {background: #FCFFF4; color: #222;}
to {background: #222; color: #FCFFF4; }
}
#facts{
  position: relative;
  top:-50%;
  left: 0%;
}
#intro:hover {
  background: #222; color: #FCFFF4;
}

#galleries:hover {
  background: #222; color: #FCFFF4;
}

#asocials:hover {
    background: #222; color: #FCFFF4;
}


  #ad_intro:link {
      text-decoration: none;
      color: #FCFFF4;
  }

  #ad_intro:visited {
      text-decoration: none;
      color: #FCFFF4;

  }

  #ad_intro:hover {
      text-decoration: underline;
      color: #FCFFF4;

  }

  #ad_intro:active {
      text-decoration: underline;
      color: #FCFFF4;

  }

.me_logo img {
width: 25%;
height: auto;
position: absolute;
top:-2%;
left:74.6%;
right:20%;
bottom: auto;
padding-left:0.5%;
padding-right: 0.5%;
padding-top: 0;
padding-bottom: 1%;
overflow: hidden;
}

.text {
  position: relative;
  top:-60px;
  left:0;
  right:30%;
  bottom:0;
  margin: auto;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #222;
  position: relative;
  text-align: right;
  margin-right: 25%;
  margin-left: 2%;
  margin-bottom: 0.1%;
  line-height: 1.20;
  overflow: hidden;
}

.box_title {
  position: absolute;
  text-align: right;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #222;
  top: 34.5%;
  right: 4.7%;
  padding: 1%;
}

.box_text ul li {
  list-style-type: lower-latin;
  font-size: 20px;
  color: #222;
}

#f_1 {
margin-bottom: 1.4%;
font-family:  'Oswald', sans-serif;
font-weight: 400;
text-align: left;
left: 76%;
right: auto;
top:-450px;
bottom:auto;
position:relative;

}

#f_2 {
  margin-bottom: 1.4%;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 76%;
  right: auto;
  top:-450%;
  bottom:auto;
  position:relative;
}

#f_3 {
  margin-bottom: 1.4%;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 76%;
  right: auto;
  top:-450px;
  bottom:auto;
  position:relative;
}

#f_4 {
  margin-bottom: 1.4%;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 76%;
  right: auto;
  top:-450px;
  bottom:auto;
  position:relative;}

#f_5 {
  margin-bottom: 1.4%;
  font-family:  'Oswald', sans-serif;
  font-weight: 400;
  text-align: left;
  left: 76%;
  right: auto;
  top:-450px;
  bottom:auto;
  position:relative;}

  #f_6 {
    margin-bottom: 1.4%;
    font-family:  'Oswald', sans-serif;
    font-weight: 400;
    text-align: left;
    left: 76%;
    right: auto;
    top:-450px;
    bottom:auto;
    position:relative;}




.border {
  background-color: #222;
  z-index: 100;
  position: absolute;
}

#ContainerBorderL {
   width: 7px;
   height: calc(200% - 3.8%);
   top: 1.3%;
   left: 1%;
   bottom: 1.3%;
}

#ContainerBorderR {
   width: 7px;
   height: calc(200% - 4%);
   top: 2%;
   right: 1.3%;
}

#ContainerBorderT {
   width: calc(100% - 2.3%);
   height: 7px;
   left: 1%;
   top: 1.3%;
}

#ContainerBorderB {
   width: calc(100% - 2.3%);
   height: 7px;
   left: 1%;
   bottom: 1.3%;
   top: calc(200% - 2.6%);
   margin-bottom: 1.3%
}

#InnerBorderR {
  width: 7px;
  height: 109%;
  top: 1.3%;
  left: 76.5%;
  position: absolute;
}

#InnerBorderR_1 {
  width: 7px;
  height: 50%;
  top: 110%;
  left: 40%;
  position: absolute;

}

#InnerBorderT {
  width: calc(100vw - 24.5%);
  height: 7px;
  left: 1.3%;
  right: 80%;
  top: 12%;
  position: absolute;
}


#InnerBorderT_1 {
  width: 22.2%;
  height: 7px;
  left: 76.5%;
  right: 1.3%;
  top: 35.5%;
  position: absolute;
}

#InnerBorderT_2 {
  width: 22.2%;
  height: 7px;
  left: 76.5%;
  right: 1.3%;
  top: 43.5%;
  position: absolute;

}

#InnerBorderT_3 {
  width: calc(100vw - 2.7%);
  height: 7px;
  left: 1.3%;
  right: 1.3%;
  top: 110%;
  position: absolute;
}

#InnerBorderT_4 {
  width: calc(100vw - 2.7%);
  height: 7px;
  left: 1.3%;
  right: 1.3%;
  top: 160%;
  position: absolute;
}



#galleries_1 {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #222;
  top: 104%;
  left: 3%;
}

#exercises {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #222;
  top:104%;
  left: 42%;
}

  #link_1 {
    position: relative;
    text-align: right;
    font-size: 38px;
    top:0%;
    left: -37%;
    font-family: sans-serif;
    font-weight: 800;
   }

  #link_2 {
    text-align: right;
    font-size: 38px;
    top:3%;
    left: -37%;
    font-family: sans-serif;
    font-weight: 800;
    }

  #link_3 {
    text-align: right;
    font-size: 38px;
    top:5%;
    left: -37%;
    font-family: sans-serif;
    font-weight: 800;
    }

    a.grids:link {
        text-decoration: none;
        color: #222;
    }

    a.grids:visited {
        text-decoration: none;
        color: #222;
        transition: 0.5s;
    }

    a.grids:hover {
        text-decoration: underline;
        color: #444;
        transition: 0.5s;
    }

    a.grids:active {
        text-decoration: underline;
        color: #222;
        transition: 0.5s;
    }


  #ex_1 {
    text-align: right;
    font-size: 38px;
    top:-20%;
    left: 21%;
    font-family: sans-serif;
    font-weight: 800;
  }

  #ex_2 {
    text-align: right;
    font-size: 38px;
    top:-20%;
    left: 21%;
    font-family: sans-serif;
    font-weight: 800;
  }

  #ex_3 {
    text-align: right;
    font-size: 38px;
    top:-20%;
    left: 21%;
    font-family: sans-serif;
    font-weight: 800;
  }

  #ex_4 {
    text-align: right;
    font-size: 38px;
    top:-20%;
    left: 21%;
    font-family: sans-serif;
    font-weight: 800;
  }

  a:link {
      text-decoration: none;
      color: #222;
  }

  a:visited {
      text-decoration: none;
      color: #222;
      transition: 0.5s;
  }

  a:hover {
      text-decoration: underline;
      color: #FCFFF4;
      transition: 0.3s;
  }

  a:active {
      text-decoration: underline;
      color: #222;
      transition: 0.5s;
  }




  #socials {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #222;
    top: 173%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.icone_border {
  position: absolute;
  bottom: 2%;
  width:35%;
  height: 5%;
  transform: translate(-50%, -50%);
  left: 55.2%;
  top: 185%;
  bottom: 29%
  border 2px solid gray;
}

.fa {
    padding: 2.8%;
    padding-top: 3.7%;
    padding-bottom: 3.7%;
    font-size: 80px;
    font-weight: bolder;
    width: 5%;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin-top: 1%;
    margin-left: 1.5%;
    background: #FCFFF4;
    color: #222;
    border: 4px solid #222;
}

@keyframes hover {
from {background: #FCFFF4; color: #222; border: 4px solid #222;}
to {background: #222; color: #FCFFF4; }
}

.fa:hover {
    animation: hover 0.2s forwards;
    text-decoration: none;

}

.fa-facebook {
  right: auto;
}

.fa-instagram {
  right: auto;
}

.fa-tumblr {
  right: auto;
}

.fa-vimeo {
  right: auto;
}

.fa-behance {
  right: auto;
}
